= form.text_area :title, class: 'title',
  placeholder: Post.human_attribute_name(:title)

= form.text_field :author,
  placeholder: Post.human_attribute_name(:author)

= form.text_field :date,
  placeholder:  Post.human_attribute_name(:date)

= form.text_area :description, class: 'description',
  placeholder: Post.human_attribute_name(:description)

= form.text_field :address, class: 'address',
  placeholder: Post.human_attribute_name(:address)

= form.text_area :content, class: 'content',
  placeholder: Post.human_attribute_name(:content)
