= render partial: 'header'

%section
  - for post in @posts
    %h2= post.title
    %p.meta= t('.meta') % { author: post.author, date: l(post.date) }
    %p.description= post.description
    %p.read= link_to t('actions.read'), post_path(id: post.to_param)
