= render partial: 'header', locals: { link: true }

%section
  %p.actions
    = link_to t('.return').html_safe, posts_path

  %h2= @post.title
  %p.meta= t('.meta') % { author: @post.author, date: l(@post.date) }
  = markdown @post.content
