= render partial: 'header', locals: { link: true }

%section
  %p.actions
    - if post = @post.find_previous
      = link_to t('.previous').html_safe, post_path(post), class: 'left'
    - if post = @post.find_next
      = link_to t('.next').html_safe, post_path(post), class: 'right'

  %h2= @post.title
  %p.meta= t('.meta') % { author: @post.author, date: l(@post.date) }
  = markdown @post.content
