%header
  .wrapper
    %h1= t 'company'

%section
  :markdown
    _Alpha State_ is the creative state of your mind.
    It is also our web studio. We develop elegant and reach web
    experiences. We love what we do, and we are excited
    to share our passion with you. Work with us and let your
    customers become your followers.

%nav#menu
  .wrapper
    #totop
      %a.scroll{ href: '#top' } &uarr;

    %ul.primary.spectrum
      %li
        %a.scroll{ href: '#services' }= t 'navigation.services'
      %li
        %a.scroll{ href: '#portfolio' }= t 'navigation.portfolio'
      %li
        %a.scroll{ href: '#contact' }= t 'navigation.contact'

    %ul.secondary
      %li
        %a{ href: locale_path }= t 'navigation.locale'
      %li
        %a{ href: manifesto_path }= t 'navigation.manifesto'
      %li
        %a{ href: blog_path }= t 'navigation.blog'

%section#services
  %header
    %h2 Web design &amp; coding
  %p
    We make websites, web services, and applications for social networks.
    In each project, we are driven by its purpose, and we pursue usability
    and beauty in our solutions.

  %header
    %h2 Digital brand identity
  %p
    We develop web identities for creative individuals and innovative
    companies. We help to promote personalities, differentiate businesses,
    and reach clients and audiences.

.separator.spectrum.fadeout

%section#portfolio
  %header
    %h2 Recent projects
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/pohjanmann.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/soceffect.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/domovoi.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/tyutrin.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/roxy.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/ecorussia.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/fototxt.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/rugbc.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/redboxgin.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/greenawards.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/spravochki.jpg' }
  %a.project{ href: '#' }
    %img{ src: '/portfolio/thumbnails/zveropark.jpg' }
