%header
  %h1= t 'company'

%section#introduction
  %p!= t '.introduction'

%nav.inversed#menu
  .wrapper
    #totop
      %a.scroll{ href: '#top' } &uarr;

    %ul.primary.spectrum
      %li
        %a.scroll{ href: '#services' }= t 'navigation.services'
      %li
        %a.scroll{ href: '#portfolio' }= t 'navigation.portfolio'
      %li
        %a.scroll{ href: '#contact' }= t 'navigation.contact'

    %ul.secondary
      %li.negligible
        %a{ href: locale_path }= t 'navigation.locale'
      %li
        %a{ href: manifesto_path }= t 'navigation.manifesto'
      %li
        %a{ href: posts_path }= t 'navigation.blog'

%section#services
  %h2!= t '.services.title'
  != markdown t('.services.content')

%section#portfolio
  %h2!= t '.portfolio.title'
  - for project in @projects
    .project
      %h3= project.title
      %p= project.motto
      %a{ href: project_path(project) }
        %img{ src: project.thumbnail }
