%header
  %h1= t 'company'

%section
  %p!= t '.introduction'

%nav.inversed#menu
  .wrapper
    #totop
      %a.scroll{ href: '#top' } &uarr;

    %ul.primary.spectrum
      %li
        %a.scroll{ href: '#services' }= t 'navigation.services'
      %li
        %a.scroll{ href: '#portfolio' }= t 'navigation.portfolio'
      %li
        %a.scroll{ href: '#contact' }= t 'navigation.contact'

    %ul.secondary
      %li
        %a{ href: locale_path }= t 'navigation.locale'
      %li
        %a{ href: manifesto_path }= t 'navigation.manifesto'
      %li
        %a{ href: posts_path }= t 'navigation.blog'

%section#services
  %h2!= t '.services.header-1'
  %p
    We make websites, web services, and applications for social networks.
    In each project, we are driven by its purpose, and we pursue usability
    and beauty in our solutions.

  %h2!= t '.services.header-2'
  %p
    We develop digital brand identities for creative individuals and innovative
    companies. We help to promote personalities, differentiate businesses,
    and reach clients and audiences.

= dingbat_tag 'black'

%section#portfolio
  .project
    %h3 Roxy
    %p Erotic-dance studio
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/roxy.jpg' }

  .project
    %h3 Social Effect
    %p Promo campaigns
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/soceffect.jpg' }

  .project
    %h3 Pohjanmann
    %p Elite furniture
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/pohjanmann.jpg' }

  .project
    %h3 Blues
    %p PR agency
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/blues.jpg' }

  .project
    %h3 RuGBC
    %p Russian Green Building Counceil
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/rugbc.jpg' }

  .project
    %h3 Spravochki
    %p Any certificate for anybody
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/spravochki.jpg' }

  .project
    %h3 Domovoi
    %p Charity for Children of Earth
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/domovoi.jpg' }

  .project
    %h3 Red Box Gin
    %p Promo of a London-inspired gin
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/redboxgin.jpg' }

  .project
    %h3 Fototexti
    %p Handmade postcards
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/fototxt.jpg' }

  .project
    %h3 Green Awards
    %p Contest in sustainable development
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/greenawards.jpg' }

  .project
    %h3 Peter Tyutrin
    %p Painter
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/tyutrin.jpg' }

  .project
    %h3 EcoRussia.info
    %p Sustainable development in Russia
    %a{ href: '#' }
      %img{ src: '/portfolio/thumbnails/ecorussia.jpg' }
