%header.inversed#menu
  .wrapper
    %h1!= "#{ link_to t('company'), home_path } <em>/ #{ t '.name' }</em>"

    #totop
      %a.scroll{ href: '#top' } &uarr;

    %nav
      %ul.secondary
        %li
          %a{ href: locale_path }= t 'navigation.locale'
        %li
          %a{ href: posts_path }= t 'navigation.blog'
        %li
          %a.scroll{ href: '#contact' }= t 'navigation.contact'

%section
  %h2 We know our craft.
  %p
    Our clients trust us. They recommend us. They come back. We take it
    as the highest acknowledgment of our work.

  %h2 We are agile.
  %p
    We work in small iterations and frequently communicate our progress
    to you. We value your feedback. We adapt as we go to deliver the
    solution that you benefit the most from.

  %h2 We make it real.
  %p
    We are designers, coders, and consultants. We are thinkers, makers,
    and communicators. We are artistic, rational, and controversial. We
    have it all to make your web ideas work.

  %h2 We praise uniqueness.
  %p
    Each project has its own personality. We challenge ourselves.
    We explore, experiment, and balance to get this personality just
    right and preserve it in our work.

  %h2 We thrive on novelty.
  %p
    Web technologies skyrocket, and we are on the cutting edge. We use
    modern and indispensably efficient, reliable solutions.
