%header.inversed#menu
  %nav
    %h1!= "#{ link_to t('company'), home_path } <em>/ #{ t '.name' }</em>"

    #totop
      %a.scroll{ href: '#top' } &uarr;

    %ul.secondary
      %li.negligible
        %a{ href: locale_path }= t 'navigation.locale'
      %li
        %a{ href: posts_path }= t 'navigation.blog'
      %li
        %a.scroll{ href: '#contact' }= t 'navigation.contact'

%section
  = markdown t('.content')
