!!! 5
%html{ lang: I18n.locale }
  %head
    %title= page_title
    = render partial: 'layouts/meta'
    = render partial: 'layouts/favicon'
    = stylesheet_link_tag :application
    %script{ src: '//use.typekit.net/kof8zcn.js', onload: 'try{Typekit.load();}catch(e){}' }
    -#= stylesheet_link_tag 'http://basehold.it/16/00ff00'
    /[if lt IE 9]
      <style>article { display: none; } p { width: 650px; margin: 2em auto; font-size: 40px; line-height: 60px; text-align: center; } a, a:hover, a:visited { text-decoration: underline; }</style>
      <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
  %body
    /[if lt IE 9]
      <p>Please <a href='//browser-update.org/update.html'>update</a> your browser to have the best web experience ever.</p>
    %article#top{ class: page_labels }
      = yield
      = render partial: 'layouts/footer'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'
    = javascript_include_tag :application
    = render partial: 'layouts/analytics'
    - if current_user.present?
      = render partial: 'layouts/administration'
