!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ property: 'og:url', content: 'http://alphastate.ru' }
    %meta{ property: 'og:title', content: t('company') }
    %meta{ property: 'og:type', content: 'website' }
    %meta{ property: 'og:description', content: t('.description') }
    %meta{ name: 'description', content: t('.description') }
    %title= t "application.#{ params[:action] }.title"
    %link{ href: '/favicon.png', rel: 'icon', type: 'image/png' }
    = stylesheet_link_tag :application
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Roboto:100,300|Roboto+Slab:100,300&subset=latin,cyrillic'
  %body{ class: I18n.locale }
    %article#top{ class: params[:action] }
      = yield

      %footer#contact
        .wrapper
          %p
            Have an idea to explore, question to ask, or hello to shout?
            Go ahead and send us an email or give us a call.

          %address
            %p Saint Petersburg
            %p
              %a{ href: 'mailto:info@alphastate.ru' } info@alphastate.ru
            %p Tel.: +7 812 982-99-52

          %address
            %p Stockholm
            %p
              %a{ href: 'mailto:info@alphastate.se' } info@alphastate.se
            %p Tel.: +46 76 583-35-56

          .delimiter= delimiter_tag

          %p#copyright
            &copy; 2009&ndash;2014 Alpha State

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'
    = javascript_include_tag :application
