!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ property: 'og:url', content: t('url') }
    %meta{ property: 'og:title', content: t('company') }
    %meta{ property: 'og:type', content: 'website' }
    %meta{ property: 'og:description', content: t('.description') }
    %meta{ name: 'description', content: t('.description') }
    %title= page_title
    %link{ href: '/favicon.png', rel: 'icon', type: 'image/png' }
    = stylesheet_link_tag :application
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Playfair+Display|Roboto:100,300,300italic|Roboto+Condensed:300|Roboto+Slab:100,300&subset=latin,cyrillic'
  %body
    %article#top{ class: page_labels }
      = yield

      %footer.inversed#contact
        .wrapper
          %p= t '.contact.introduction'

          %address
            %p= t '.contact.city-1'
            %p
              %a{ href: 'mailto:info@alphastate.ru' } info@alphastate.ru
            %p= t '.contact.telephone-1'

          %address
            %p= t '.contact.city-2'
            %p
              %a{ href: 'mailto:info@alphastate.se' } info@alphastate.se
            %p= t '.contact.telephone-2'

          = dingbat_tag

          %p#copyright!= "&copy; 2009&ndash;2014 #{ t 'company' }"

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'
    %script{ src: '/assets/hyphenator.js' }
    = javascript_include_tag :application
