!!! 5
%html{ lang: I18n.locale }
  %head
    %title= t '.title'
    = render partial: 'layouts/meta'
    = render partial: 'layouts/favicon'
    = stylesheet_link_tag :exception
  %body
    %a{ :href => home_path }= dingbat_tag
